
.myFormular h2 {
    text-align: center;
    color: #FF754A;
    font-weight: bold;
}
.myFormular {
    display: flex;
    justify-content: center;
    width: auto;
}

.myFormularContent label{
    display: flex;
    justify-content: start;
    text-align: center;
    color: #4C27E0;
    font-weight: bolder;
}

.myFormularContent {
    width: 30vw;
    height: 500px;
    padding: 20px;
    border: 0.5px solid rgb(188, 186, 186) ;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.39);
    background-color: whitesmoke;
}


.contentButton {
    display: flex;
    justify-content: center;
}

.mySubmitButton {
    margin-top: 10px;
    width: 60%;
    height: auto;
    background-color: #FF754A;
    border: 1px solid #FF754A;
    border-radius: 30px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.mySubmitButton:hover {
    background-color: rgba(169, 231, 241, 0.632);
    border: 3px solid rgba(33, 192, 240, 0.708);
    color: rgb(25, 166, 210);
}

.inputForm {
    width: 100%;
    height: 40px; 
    padding: 5px;
    margin-bottom: 2%;
    border: 3px solid #4C27E0 ;
    border-radius: 30px;
}

.suscribMain {
    display: flex;
    justify-content:flex-end;
    margin-top: 5vw;
    padding-right: 5vw;
    height: 70vh;
    margin-bottom: 50px;
}


@media screen and (max-width:1110px) {
    .suscribMain {
        justify-content:center;
        padding-right: 0;
        margin-bottom: 15vw;
    }

    .myFormularContent {
        width: 45vw;
       
    }
}

@media screen and (max-width:740px) {
    .myFormularContent {
        width: 80vw;
    }
    .suscribMain {
        margin-top: 20vw;
    }
}

@media screen and (max-width:672px) {
    .suscribMain {
        height: 90vh;
        margin-bottom: 10vw;
    }
}
