header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1vw;
    height: 10vh;
    background-color:#4C27E0 ;
    color: white;
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
}

.headertitle {
    font-weight: bold;
}

@media screen and (max-width:1106px) {
    header {
        padding-top: 2vw;
    }
}

@media screen and (max-width:855px) {
    header {
        padding-top: 2vw;
    }
}
@media screen and (max-width:615px) {
    header {
        padding-top: 3vw;
    }
}