.myNav {
    border-right: 3px solid #c9c9c94e;
    width: 20vw;
    color: white;
    display: flex;
    flex-direction: column;
/*  background-color: #4C27E0;*/
}

.myNav > h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:2vw;
}

.myNav > ul {
    padding: 5%;
}

.myNav>ul>li>a {
    font-size: 90%;
    line-height: 5vh;
    color: white;
    text-decoration: none;
    color: #FF754A;
    font-weight: bolder;
}

.user-avatar > img {
    width: 30%;
    height: auto;
}

