#mainContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}


button {
    margin-top: 1px;
}


.newAdd {
    display: flex;
    justify-content: flex-start;
    background-color: #141f27;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 2px solid #40a3d9;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    padding: 2%;
    color: white;
}

.newAdd>h5 {
    color: #00acee;
    font-size: 80%;
    font-weight: bolder;

}

.newAdd>h6 {
    color: #008dcd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 15px;
    font-size:small;
}

.orderClassify>a {
    text-decoration: none;
    font-weight: bolder; 
    color: #FF754A;
    float: right;
    margin-right: 10px;
}

.orderClassify>a:hover {
    color: #4C27E0;
}

.btn-delete {
    background-color: #cd5a38;
    border: 2px solid #FF754A;
    border-radius: 25px;
    font-size: 10px;
    font-weight:bolder;
    color: white;
    padding: 3px;
}

.btn-delete:hover {
    background-color:#FF754A;
    border: 1px solid #FF754A;
    color: white;
}