#mainContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}


button {
    margin-top: 1px;
}


.newAdd {
    display: flex;
    justify-content: flex-start;
    background-color: #141f27;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 2px solid #40a3d9;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    padding: 2%;
    color: white;
}

.newAdd>h4 {
    color: #00acee;
}

.newAdd>h6 {
    color: #008dcd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 15px;
    font-size:small;
}

.orderClassify>a {
    text-decoration: none;
    color: #c6e3fa;
    float: right;
    margin-right: 10px;
}

.btn-delete {
    margin-top: 10px;
    background-color:#205370;
    border: 1px solid #00acee;
    border-radius: 25px;
    font-size: 10px;
    font-weight:bolder;
    color: white;
    padding: 3.5px;
}

.btn-delete:hover {
    background-color: #00acee;
    border: 1px solid rgba(33, 192, 240, 0.708);
    color: #141f27;
}