header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1vw;
    height: 5vw;
}

.headertitle {
    font-weight: bold;
}

@media screen and (max-width:1106px) {
    header {
        margin-top: 2vw;
    }
}

@media screen and (max-width:855px) {
    header {
        margin-top: 2vw;
    }
}
@media screen and (max-width:615px) {
    header {
        margin-top: 3vw;
    }
}